<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:task="http://www.springframework.org/schema/task"
    xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd">
        
    <bean id="propertyPlaceholder" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:db/db.properties</value>
                <value>classpath:chatbot/chatbot.properties</value>
            </list>
        </property>
    </bean>
  
  	<!-- scans packages to find and register beans within the application context -->
  	<context:component-scan base-package="de.fhws.hablame.chatbotbackend" />
  	
  	<!-- load the chatbot.properties file in the spring context -->
  	<context:property-placeholder location="classpath:/chatbot/chatbot.properties"/>
  	
  	<!-- import the other spring config files with the classpath of the application (from src/main/resources) -->
  	<import resource="classpath:/spring/spring-thread.xml" />
  	
  	<!-- looks up Spring Data repositories -->
  	<jpa:repositories base-package="de.fhws.hablame.chatbotbackend.repository" />
  	
    <!-- declares explicit support for annotation-driven MVC controllers 
    (i.e. @RequestMapping, @Controller, although support for those is the default behaviour), 
    as well as adding support for declarative validation via @Valid and message body marshalling 
    with @RequestBody/ResponseBody. -->
    <mvc:annotation-driven />
    
    <!-- This tag allows for mapping the DispatcherServlet to "/" (all extensions etc) -->
	<mvc:default-servlet-handler/>
    
	<!-- Database config -->
		<!-- Old usage of -->
		<!-- class="org.springframework.jdbc.datasource.DriverManagerDataSource" -->
		<!-- Now using apache's dbcp2 with pooling -->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
    	<property name="driverClassName" value="com.mysql.jdbc.Driver" />
  		<property name="url" value="${db.url}" />  
  		<property name="username" value="${db.user}" />
  		<property name="password" value="${db.password}" />
  		<!-- new possibilities with dbcp2 -->
  		<property name="maxTotal" value="4"/>
		<property name="maxWaitMillis" value="2000"/>
    </bean>
    
    <bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
    	<property name="showSql" value="false" />
    	<property name="generateDdl" value="true" />
    	<property name="database" value="MYSQL" />
    </bean>
 	
 	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
 		<property name="dataSource" ref="dataSource" />
 		<property name="persistenceProviderClass" value="org.hibernate.jpa.HibernatePersistenceProvider" />
 		<property name="persistenceUnitName" value="hablame-persistenceUnit" />
    	<property name="jpaVendorAdapter" ref="jpaVendorAdapter" />
    	<property name="jpaProperties">
        	<props>
        	    <!-- This is similiar to hibernate.cfg.xml stuff -->
        		<prop key="hibernate.hbm2ddl.auto">update</prop>
            	<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
            	<prop key="hibernate.show_sql">false</prop>
            	<!-- In production it is better to use Ehcache for the cache provider.  -->
            	<prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
        	</props>
    	</property>
    	<property name="packagesToScan" value="de.fhws.hablame.chatbotbackend.model" />
 	</bean>
 	
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">  
  		<property name="entityManagerFactory" ref="entityManagerFactory" />  
 	</bean>
 	
 	<tx:annotation-driven transaction-manager="transactionManager" />
 	
 	<!-- see: http://docs.spring.io/spring/docs/2.0.x/api/org/springframework/dao/annotation/PersistenceExceptionTranslationPostProcessor.html -->
 	<bean id="persistenceExceptionTranslationPostProcessor" 
 		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
     
    <!-- Configure to plugin JSON as request and response in method handler -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="jsonMessageConverter"/>
            </list>
        </property>
    </bean>
     
    <!-- Configure bean to convert JSON to POJO and vice versa -->
    <bean id="jsonMessageConverter" 
    	class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
    </bean>
    
    <!-- Context Provider for manually get the context of any bean which is referenced in the xml files -->
    <bean id="applicationContextProvider" class="de.fhws.hablame.chatbotbackend.utility.ApplicationContextProvider" />
    
    <!-- To get the context of this class in the chatbot extensions we reference it here -->
    <bean id="chatbotService" class="de.fhws.hablame.chatbotbackend.service.chatbot.ChatbotService" />
    
    <!-- Enable scheduling annotations -->
    <task:annotation-driven executor="taskExecutor" />
	<task:executor id="myExecutor" pool-size="5"/>
</beans>